.header_container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    height: 20vh;
}

.socialMedia {
    padding: 5px;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}

.header_icons {
    display: flex;
    align-items: center;
    justify-content: center;

}
.header_button_text{
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    background-color: rgb(46, 46, 46);
    border-style: none;
    transition: 0.5s;
    
}
.header_button_text:hover{     
    background-color: white;
    color: black;
} 